* {
  box-sizing: border-box;
}

.container {
  height: 3000px;
  margin: 0 auto;
  background-color: lightgreen;
  overflow: hidden;
}

.main {
  margin: 0 auto;
  width: 1400px;
  height: 70px;
  background-color: #083c66;
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}
.main__text {
  font-size: 35px;
  color: orange;
  font-weight: 600;
}
.main__phone {
  font-size: 35px;
  color: orange;
  font-weight: 600;
}
.main span {
  color: yellow;
}
.main__icons img {
  width: 45px;
  height: 45px;
  margin-right: 7px;
  border-radius: 100px;
}
.main__icons a {
  text-decoration: none;
}

.section {
  margin: 0 auto;
  width: 1400px;
  height: 700px;
}
.section__img {
  width: 1400px;
  height: 700px;
}
.section .text {
  color: white;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 2px;
  position: relative;
  bottom: 600px;
}
.section .text hr {
  width: 700px;
  height: 10px;
  background-color: black;
  border: none;
}

.section1 {
  margin: 0 auto;
  width: 1400px;
  height: 300px;
  background-color: #083c66;
}
.section1 .whiteblock {
  width: 1000px;
  height: 350px;
  background-color: white;
  border-radius: 30px;
  border: 5px solid black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  left: 200px;
  bottom: 180px;
}
.section1 .whiteblock img {
  width: 75px;
  height: 75px;
  position: relative;
  left: 40px;
  top: 50px;
}
.section1 .whiteblock p {
  font-size: 26px;
  position: relative;
  left: 150px;
  bottom: 40px;
}
.section1 .whiteblock span {
  font-size: 19px;
}

.section2 {
  margin: 0 auto;
  width: 1400px;
  height: 600px;
  background-color: #79aad3;
}
.section2 .blueblock {
  width: 1000px;
  height: 350px;
  background-color: #75afdf;
  border-radius: 30px;
  border: 5px solid black;
  position: relative;
  left: 200px;
  bottom: 80px;
}
.section2 .blueblock__img {
  width: 380px;
  height: 310px;
  position: relative;
  left: 20px;
  top: 15px;
  border: 5px solid white;
}
.section2 .blueblock__text {
  color: white;
  position: relative;
  left: 400px;
  bottom: 280px;
  font-size: 26px;
  font-weight: 600;
}
.section2 .blueblock__button {
  width: 300px;
  height: 40px;
  background-color: orange;
  font-size: 23px;
  font-weight: 600;
  border-radius: 10px;
  position: relative;
  left: 550px;
  bottom: 220px;
}
.section2 .forms {
  display: flex;
  flex-direction: column;
}
.section2 .forms__input {
  width: 400px;
  height: 30px;
  margin-top: 10px;
  position: relative;
  bottom: 250px;
  left: 460px;
  border-radius: 10px;
  letter-spacing: 2px;
}

@media (max-width: 575px) {
  .container {
    width: 375px;
    height: 1300px;
    background-color: lightgreen;
    overflow: hidden;
  }
  .main {
    width: 375px;
    height: 30px;
    padding-top: 6px;
  }
  .main__text {
    font-size: 15px;
  }
  .main__phone {
    font-size: 15px;
    padding-top: 2px;
  }
  .main__icons img {
    width: 20px;
    height: 20px;
    margin-right: 2px;
  }
  .section {
    width: 375px;
    height: 250px;
  }
  .section__img {
    width: 100%;
    height: 250px;
  }
  .section .text {
    font-size: 10px;
    position: relative;
    bottom: 200px;
  }
  .section .text hr {
    width: 200px;
    height: 5px;
  }
  .section1 {
    width: 375px;
    height: 400px;
  }
  .section1 .whiteblock {
    width: 355px;
    height: 400px;
    position: relative;
    left: 10px;
    bottom: 60px;
    background-color: white;
    display: flex;
    flex-direction: column;
  }
  .section1 .whiteblock img {
    width: 35px;
    height: 35px;
    position: relative;
    left: 20px;
    top: 30px;
  }
  .section1 .whiteblock p {
    font-size: 17px;
    position: relative;
    left: 90px;
    bottom: 20px;
  }
  .section1 .whiteblock span {
    font-size: 14px;
  }
  .section2 {
    width: 375px;
    height: 400px;
  }
  .section2 .blueblock {
    width: 355px;
    height: 400px;
    position: relative;
    left: 10px;
    bottom: 50px;
  }
  .section2 .blueblock__img {
    width: 100px;
    height: 100px;
  }
  .section2 .blueblock__text {
    font-size: 10px;
    position: relative;
    left: 100px;
    bottom: 50px;
  }
  .section2 .blueblock .forms {
    position: relative;
    right: 400px;
    top: 300px;
  }
  .section2 .blueblock .forms__input {
    width: 200px;
    height: 20px;
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */